// compileExpanded: ../css/$1.css

/*!
 * Theme:	Munipay.io
 * URL:		https://boltmedia.ca/munipay.io/
 * Name:	theme.css
 */

* {
	outline: 0 !important;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	line-height: 22px;

	color: #002054;
}

p {
	font-family: 'Work Sans', sans-serif;

	margin-bottom: 20px;

	color: #002054;
}

a:hover {
	color: #ee913f;
}

.container {
	max-width: 1240px;
}

.wrapper {
	position: relative;

	overflow: hidden;

	width: 100%;
}

header .link {
	font-size: 22px;
	font-weight: 600;
	line-height: 106px;

	float: right;

	color: #002054;
}

.main-navbar {
	background: #002054;

	.nav-link {
		font-size: 16px;

		text-transform: uppercase;

		color: #7da3df !important;

		&:hover {
			color: #fff !important;
		}
	}
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
	color: #fff !important;
}

footer {
	font-size: 14px;
	font-weight: 500;

	padding: 20px 0;

	letter-spacing: .03em;

	color: #fff;
	background: #426eb3;

	.navbar-dark .navbar-nav .nav-link {
		text-decoration: underline;
		text-transform: uppercase;

		color: #fff;
	}
}


body {
	background: #f9f9f9;
}

.order-accordion {
	counter-reset: request-counter;

	.order-check-title {
		cursor: pointer;
		padding-left: 1.5rem;
		position: relative;

		&:before {
			counter-increment: request-counter;
			content: counter(request-counter) ". ";
			display: inline-block;
			position: absolute;
			left: 0;
		}
	}

	.order-check-header .dashicons {
		font-size: 25px;

		margin-top: 2px;
	}

	.dashicons-arrow-up-alt2 {
		display: inline-block;
	}
	.dashicons-arrow-down-alt2 {
		display: none;
	}

	.collapsed {
		.dashicons-arrow-up-alt2 {
			display: none;
		}
		.dashicons-arrow-down-alt2 {
			display: inline-block;
		}
	}

	.saved .order-check-delete {
		display: inline-block;
	}

	.order-check-delete {
		display: none;
	}

	.saved {
		&.p-4 {
			padding: 1.5rem 1.5rem 0 1.5rem !important;
				overflow: hidden;
		}

		button {
			margin-bottom: 1.5rem;
		}

		.order-check-title {
			cursor: pointer;
			background: #6f9bdf;
			margin: -1.5rem;
			padding: 1.5rem;
			border-radius: 4px 4px 0 0;
			color: #fff;
			padding-left: 3rem;

			&:before {
				left: 1.5rem
			}
		}
	}
}

.check-accounts {
	.check-account {
		&:first-child .order-check-account-remove {
			display: none;
		}
		&:not(:first-child) .order-check-account-add {
			display: none;
		}
	}
}

.list-group-item-secondary {
	background: #f0f0f0;

	a {
		text-decoration: none;
	}
}

.list-group-item.disabled {
	background: #f2f2f2;

	&,
	* {
		opacity: .7;
		color: #999 !important;
	}
}

@-webkit-keyframes animation-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@keyframes animation-rotate {
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}

.button--loading {
	cursor: wait;

	opacity: .8 !important;

	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;

	&,
	span {
		position: relative;
	}

	span {
		display: block;

		-webkit-transition: all 350ms ease;
				transition: all 350ms ease;
		white-space: nowrap;
	}

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 24px;
		height: 24px;
		margin: -13px 0 0 -13px;

		content: '';
		-webkit-animation: animation-rotate 750ms linear infinite;
				animation: animation-rotate 750ms linear infinite;

		border: rgba(255, 255, 255, .25) 2px solid;
		border-top-color: #fff;
		border-radius: 24px;
		background-clip: padding-box;
	}

	span,
	&:hover span,
	&:active span {
		color: transparent;
	}
}

.bundle-fields {
	display: none;
}

.jumbotron.intro {
	background: #426eb5 url(../images/info-bg.jpg) no-repeat bottom right;
	background-size: cover;

	p {
		font-size: 18px;
		line-height: 1.4;

		color: #fff;

		&.h4 {
			font-size: 23px;
			font-weight: 300 !important;
			line-height: 1.5;
		}
	}

	.alert {
		padding: 25px;

		border: 1px solid #fff;
		border-radius: 0;

		p {
			font-size: 16px;
			line-height: 1.5;

			margin: 0;
		}
	}
}

#order-requester {
	h5 {
		font-size: 25px;
		font-weight: bold;
	}
}

.custom-select {
	font-size: 18px;

	width: 100%;
	height: 40px;
	margin-bottom: 2px;
	padding: 0 10px;

	color: #002054;
	color: #4370b7 !important;
	border: 1px solid transparent !important;
	border-bottom-color: #4370b7 !important;
	border-radius: 0;
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
			box-shadow: none !important;
}

.form-control {
	font-size: 18px;

	width: 100%;
	height: 40px;
	margin-bottom: 2px;
	padding: 0 10px;

	color: #4370b7 !important;
	border: 1px solid transparent;
	border-bottom-color: #4370b7;
	border-radius: 0;
	background: transparent;
	-webkit-box-shadow: none !important;
			box-shadow: none !important;

	&::-webkit-input-placeholder {
		color: #4370b7;
	}

	&::-moz-placeholder {
		color: #4370b7;
	}

	&:-ms-input-placeholder {
		color: #4370b7;
	}

	&:-moz-placeholder {
		color: #4370b7;
	}

	&:focus {
		background: transparent;
		border-color: transparent;
		border-bottom-color: #4370b7;
	}

	&.is-valid, .was-validated &:valid {
		border-color: transparent;
		border-bottom-color: #28a745;
	}

	&.is-invalid, .was-validated &:invalid {
		border-color: transparent;
		border-bottom-color: #dc3545;
	}

	& + small {
		font-size: 13px;
		font-weight: normal;

		display: block;

		width: 100%;
		margin-top: 0;

		text-align: left;
		text-transform: uppercase;

		color: #001e59;
	}
}

.btn {
	font-size: 16px;
	font-weight: 600;

	padding: 12px 25px;

	text-transform: uppercase;

	border: none !important;
	border-radius: 25px;
	-webkit-box-shadow: none !important;
			box-shadow: none !important;

	&-primary {
		color: #fff;
		background-color: #6f9bdf;

		&:hover {
			color: #fff;
			background: #4370b7;
		}
	}

	&-warning {
		color: #fff;
		background-color: #fc891c;

		&:hover {
			color: #fff;
			background: #ee913f;
		}
	}
}

.list-group-item {
	&.active {
		border-color: #6f9bdf;
		background-color: #6f9bdf;
	}
	.small {
		text-transform: uppercase;
	}
}

.input-group-text {
	padding-left: 0;

	border: none;
	background: transparent;
}

.wp-block-column {
	h4 {
		font-size: 21px;
		font-weight: 600;

		margin-bottom: 16px;
	}
	p {
		font-size: 15px;

		color: #0d2f66;
	}
}

.table {
	width: 100%;

	&.reports-table {
		thead {
			font-size: 14px;

			color: #fff;
			background: #042154;
			th {
				width: auto;

				white-space: nowrap;
			}
		}

		tbody {
			font-size: 14px;
			td {
				vertical-align: middle;
			}
		}
	}
}

.container.reports-container {
	max-width: 1400px;
}

.text-success {
	color: #6f9bdf !important;
}

body span.badge.badge-warning {
	color: #fff;
	background-color: #ffc107;
}

.entry-title {
	font-weight: 700;
}

@media only screen and (max-width: 767px) {
	.page.logged-in .logo {
		display: table;

		margin: 30px auto 0;
	}

	.page.logged-in .logo img {
		max-width: 100%;
	}

	header .link {
		font-size: 15px;
		line-height: 50px;

		margin-bottom: 15px;
	}

	.list-group-item {
		max-width: 100%;

		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
			flex: 0 0 100%;
	}
}

@media only screen and (max-width: 550px) {
	.form-control {
		min-width: 100%;
	}

	.col {
		min-width: 100%;
	}

	.input-group-prepend {
		display: block;

		width: 100%;
		margin-right: -1px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1050px) {
	.wp-block-column {
		display: block;

		width: 100% !important;
		margin-right: 0 !important;
		margin-left: 0 !important;

		flex-basis: inherit;
		-ms-flex-preferred-size: inherit;
	}
}

button .dashicons, .dashicons-before:before {
	vertical-align: middle;
}
